{% extends 'pagina_maestra.html' %}
{% block titulo %}
    :: Lista de entradas ::
{% endblock %}

{% block contenido %}
 <table class="table table-bordered table-responsive table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>producto</th>
                                <th>Fecha</th>
                                <th>Unidades</th>
                                <th>Categoria</th>
                                <th>Proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entradas in entrada %}
                            <tr>
                                <td>{{ entradas.usuario }}</td>
                                <td>{{ entradas.producto.nombre }}</td>
                                <td>{{ entradas.fecha }}</td>
                                <td>{{ entradas.unidades }}</td>
                                <td>{{ entradas.producto.categoria }}</td>
                                <td>{{ entradas.producto.provedor }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
{% endblock %}